class Youfm.Routers.HomesRouter extends Backbone.Router

  routes: 
    "search/:term": "search"
    "": "index"
    "top100": "top100"
    "newreleases": "newreleases"
    "staffpicks": "staffpicks"
    "nowplaying": "nowplaying"
    "history": "history"
    "playlist/:id": "showplaylist"
    "album/:albumid": "album"

  initialize: ->
    window.collection = new Youfm.Collections.Songs()
    window.collection.fetch()

  search: (term) ->
    $ ->
      window.check = term
      $('.toggleview').hide()
      $("#loading").show()
      $('#maintablebody').empty()
      $('*').removeClass "selectSidebar"
      $(".sidebarIcon").removeAttr "style"
      uid = 1
      $.ajax
        type: "GET"
        url: "/home/search"
        data:
          query: encodeURI(term)
        success: (data) ->
          $.map(data.tracks, (item) ->
            songname = $.trim(item.name)
            songid = $.trim(item.href)
            artistname = $.trim(item.artists[0].name)
            artistid = $.trim(item.artists[0].href)
            albumname = $.trim(item.album.name)
            albumid = $.trim(item.album.href)
            popularity = $.trim(Math.ceil(item.popularity*100)+"%")
            year = $.trim(item.album.released)
            searchstring = encodeURI(songname)+"-"+encodeURI(artistname)
            num = uid++
            if check is term
              $("#loading").hide()
              $("#table").show()
              $("#table table").show()
              $("#maintablebody").append '<tr class="resultbar '+uid+'"  string="'+searchstring+'"  songname=" '+songname+'" songid=" '+songid+'" artistname=" '+artistname+'" artistid=" '+artistid+'" albumname=" '+albumname+'" albumid=" '+albumid+'" popularity=" '+popularity+'"><td class="number">'+num+'</td><td class="songtitle">'+songname+'</td><td class="artistname"><a href="/#/search/'+artistname+'">'+artistname+'</a></td><td class="albumname"><a href="/#/album/'+albumid+'">'+albumname+'</a></td><td class="popularity">'+popularity+'</td></tr>'
              interactive() if uid-1 is 100 or uid-1 is data.info.num_results
            )
          if data.info.num_results == 0
            $("#loading").hide()
            $("#table").show()
            $('#noResults').show()

        error: (jqXHR, exception) ->
          $("#loading").hide()
          $("#table").show()
          $('.errorcode').show()
          $("#searchboxBig4").focus()
  
  album: (albumid) ->
    $ ->
      window.check = albumid
      $('.toggleview').hide()
      $("#loading").show()
      $('#maintablebody').empty()
      $('*').removeClass "selectSidebar"
      $(".sidebarIcon").removeAttr "style"
      uid = 1
      $.ajax
        type: "GET"
        url: "/home/album"
        data:
          query: encodeURI(albumid)
        success: (data) ->
          albumname = $.trim(data.album.name)
          albumid = $.trim(data.album.href)
          artistname = $.trim(data.album.artist)
          artistid = $.trim(data.album['artist-id'])
          year = $.trim(data.album.released)
          itemlength = $.trim(data.album.tracks.length)
          $.map(data.album.tracks, (item) ->
            songname = $.trim(item.name)
            songid = $.trim(item.href)
            popularity = $.trim(Math.ceil(item.popularity*100)+"%")
            searchstring = encodeURI(songname)+"-"+encodeURI(artistname)
            num = uid++
            if check is albumid
              $("#loading").hide()
              $("#table").show()
              $("#table table").show()
              $("#maintablebody").append '<tr class="resultbar '+uid+'"  string="'+searchstring+'"  songname=" '+songname+'" songid=" '+songid+'" artistname=" '+artistname+'" artistid=" '+artistid+'" albumname=" '+albumname+'" albumid=" '+albumid+'" popularity=" '+popularity+'"><td class="number">'+num+'</td><td class="songtitle">'+songname+'</td><td class="artistname"><a href="/#/search/'+artistname+'">'+artistname+'</a></td><td class="albumname"><a href="/#/album/'+albumid+'">'+albumname+'</a></td><td class="popularity">'+popularity+'</td></tr>'
              interactive() if String(num) is String(itemlength)
            )
        error: (jqXHR, exception) ->
          $("#loading").hide()
          $("#table").show()
          $('.errorcode').show()
          $("#searchboxBig4").focus()

  index: ->
    window.check = "index"
    $('.toggleview').hide()
    $('*').removeClass "selectSidebar"
    $("#sideBar ul li:eq(0)").addClass "selectSidebar"
    $(".sidebarIcon").removeAttr "style"
    $(".welcomeIcon").css "backgroundPosition", "-38px 2px"
    $('#main').show()
    $("#searchboxBig").focus()

  top100: ->
    $ ->
      window.check = "top"
      $('.toggleview').hide()
      $('*').removeClass "selectSidebar"
      $("#sideBar ul li:eq(1)").addClass "selectSidebar"
      $(".sidebarIcon").removeAttr "style"
      $(".topIcon").css "backgroundPosition", "-38px -32px"
      $("#loading").show()
      $('#maintablebody').empty()
      uid = 1
      $.ajax
        type: "GET"
        url: "/home/top"
        dataType: "xml"
        success: (xml) ->
          $(xml).find("entry").each ->
            songname=$.trim($(this).find('name').first().text())
            artistname=$.trim($(this).find('artist').first().text())
            artistnamestring = $.trim(artistname.replace(/[&\/\\#,+()$~%.'":*?<>{}]/g,''))
            songid = $.trim("top"+uid+"")
            artistid = "noartistid"
            albumname = $.trim($(this).find('name').eq(1).text())
            albumnamestring = $.trim(albumname.replace(/[&\/\\#,+()$~%.'":*?<>{}]/g,''))
            albumid = "noalbumid"
            popularity = "100%"
            year = $.trim($(this).find('releaseDate').first().attr('label').split(",").pop())
            searchstring = encodeURI(songname)+"-"+encodeURI(artistname)
            num = uid++
            if check is "top"
              $("#loading").hide()
              $("#table").show()
              $("#table table").show()
              $('#maintablebody').append '<tr class="resultbar '+uid+'"  string="'+searchstring+'"  songname=" '+songname+'" songid=" '+songid+'" artistname=" '+artistname+'" artistid=" '+artistid+'" albumname=" '+albumname+'" albumid=" '+albumid+'" popularity=" '+popularity+'"><td class="number">'+num+'</td><td class="songtitle">'+songname+'</td><td class="artistname"><a href="/#/search/'+artistnamestring+'">'+artistname+'</a></td><td class="albumname"><a href="/#/search/'+albumnamestring+'">'+albumname+'</a></td><td class="popularity">'+popularity+'</td></tr>'
              interactive() if uid-1 is 100
        error: (jqXHR, exception) ->
          $("#loading").hide()
          $("#table").show()
          $('.errorcode').show()
          $("#searchboxBig4").focus()

  newreleases: ->
    $ ->
      window.check = "newest"
      $('.toggleview').hide()
      $('*').removeClass "selectSidebar"
      $("#sideBar ul li:eq(2)").addClass "selectSidebar"
      $(".sidebarIcon").removeAttr "style"
      $(".newIcon").css "backgroundPosition", "-38px -65px"
      $("#loading").show()
      $('#maintablebody').empty()
      uid = 1
      $.ajax
        type: "GET"
        url: "/home/new"
        dataType: "xml"
        success: (xml) ->
          $(xml).find("item").each ->
            songname = $.trim($(this).find('title').first().text().split("-").shift())
            artistname = $.trim($(this).find('artist').first().text())
            artistnamestring = $.trim(artistname.replace(/[&\/\\#,+()$~%.'":*?<>{}]/g,''))
            songid =  $.trim("new"+uid+"")
            artistid = "noartistid"
            albumname = $.trim($(this).find('album').first().text())
            albumnamestring = $.trim(albumname.replace(/[&\/\\#,+()$~%.'":*?<>{}]/g,''))
            albumid = "noalbumid"
            popularity = "100%"
            year = $.trim($(this).find('releaseDate').first().text().split(",").pop())
            searchstring = encodeURI(songname)+"-"+encodeURI(artistname)
            num = uid++
            if check is "newest"
              $("#loading").hide()
              $("#table").show()
              $("#table table").show()
              $('#maintablebody').append '<tr class="resultbar '+uid+'"  string="'+searchstring+'"  songname=" '+songname+'" songid=" '+songid+'" artistname=" '+artistname+'" artistid=" '+artistid+'" albumname=" '+albumname+'" albumid=" '+albumid+'" popularity=" '+popularity+'"><td class="number">'+num+'</td><td class="songtitle">'+songname+'</td><td class="artistname"><a href="/#/search/'+artistnamestring+'">'+artistname+'</a></td><td class="albumname"><a href="/#/search/'+albumnamestring+'">'+albumname+'</a></td><td class="popularity">'+popularity+'</td></tr>'
              interactive() if uid-1 is 100
        error: (jqXHR, exception) ->
          $("#loading").hide()
          $("#table").show()
          $('.errorcode').show()
          $("#searchboxBig4").focus()

  staffpicks: ->
    $ ->
      window.check = "picks"
      $('.toggleview').hide()
      $('*').removeClass "selectSidebar"
      $("#sideBar ul li:eq(3)").addClass "selectSidebar"
      $(".sidebarIcon").removeAttr "style"
      $(".pickIcon").css "backgroundPosition", "-38px -98px"
      $("#loading").show()
      $('#maintablebody').empty()
      uid = 1
      $.ajax
        type: "GET"
        url: "/home/picks"
        dataType: "html"
        success: (html) ->
          if check is "picks"
            $('#maintablebody').append(html)
            $("#loading").hide()
            $("#table").show()
            $("#table table").show()
            interactive()
        error: (jqXHR, exception) ->
          $("#loading").hide()
          $("#table").show()
          $('.errorcode').show()
          $("#searchboxBig4").focus()

  nowplaying: ->
    $ ->
      window.check = "nowplaying"
      $('.toggleview').hide()
      $('*').removeClass "selectSidebar"
      $("#sideBar ul li:eq(4)").addClass "selectSidebar"
      $(".sidebarIcon").removeAttr "style"
      $(".nowIcon").css "backgroundPosition", "-38px -132px"
      $("#nowplaying").show()
      if $('#nowplayingtablebody').children().length == 0
        $("#emptyNowPlaying").show()
        $("#searchboxBig2").focus()
      else
        $("#nowplayingtable").show()

  history: ->
    $ ->
      window.check = "history"
      window.collection.fetch()
      $('.toggleview').hide()
      $('*').removeClass "selectSidebar"
      $("#sideBar ul li:eq(5)").addClass "selectSidebar"
      $(".sidebarIcon").removeAttr "style"
      $(".historyIcon").css "backgroundPosition", "-38px -166px"
      $("#historytablebody").empty()
      count = 1
      total = 1
      $.get "/api/histories.json", (data) ->
        $.map(data, (item) ->
          songuid = $.trim(item.songid)
          historyuser = item.userid
          timeplayed = $.trim(jQuery.timeago(Date.parse(item.created_at)))
          totalcount = total++
          if historyuser is String(userid)
            records = window.collection.get(songuid)
            uid = $.trim(records.get('id'))
            songname = $.trim(records.get('title'))
            songid = $.trim(records.get('titlehref'))
            artistname = $.trim(records.get('artist'))
            artistnamestring = $.trim(artistname.replace(/[&\/\\#,+()$~%.'":*?<>{}]/g,''))
            artistid = $.trim(records.get('artisthref'))
            albumname = $.trim(records.get('album'))
            albumnamestring = $.trim(albumname.replace(/[&\/\\#,+()$~%.'":*?<>{}]/g,''))
            albumid = $.trim(records.get('albumhref'))
            popularity = $.trim(records.get('popularity'))
            searchstring = encodeURI(songname)+"-"+encodeURI(artistname)
            albumfromspotify=albumid.indexOf("spotify")
            num = count++
            $("#history").show()
            $("#historytable").show()
            if albumfromspotify!=-1
              $("#historytablebody").prepend '<tr class="historybar '+uid+'"  string="'+searchstring+'"  songname=" '+songname+'" songid=" '+songid+num+'" artistname=" '+artistname+'" artistid=" '+artistid+'" albumname=" '+albumname+'" albumid=" '+albumid+'" popularity=" '+popularity+'"><td class="number">'+(data.length-num+1)+'</td><td class="songtitle">'+songname+'</td><td class="artistname"><a href="/#/search/'+artistname+'">'+artistnamestring+'</a></td><td class="albumname"><a href="/#/album/'+albumid+'">'+albumname+'</a></td><td class="popularity">'+timeplayed+'</td></tr>'	
            else
              $("#historytablebody").prepend '<tr class="historybar '+uid+'"  string="'+searchstring+'"  songname=" '+songname+'" songid=" '+songid+num+'" artistname=" '+artistname+'" artistid=" '+artistid+'" albumname=" '+albumname+'" albumid=" '+albumid+'" popularity=" '+popularity+'"><td class="number">'+(data.length-num+1)+'</td><td class="songtitle">'+songname+'</td><td class="artistname"><a href="/#/search/'+artistname+'">'+artistnamestring+'</a></td><td class="albumname"><a href="/#/search/'+albumnamestring+'">'+albumname+'</a></td><td class="popularity">'+timeplayed+'</td></tr>'  
            interactive() if totalcount is data.length
            )
        if data.length == 0
          $("#history").show()
          $('#emptyHistory').show()



  showplaylist: (id) ->
    window.check = id
    window.collection.fetch()
    $('.toggleview').hide()
    $("#loading").show()
    $('*').removeClass "selectSidebar"
    $("#playlistlist li#"+id+"").addClass "selectSidebar"
    $(".sidebarIcon").removeAttr "style"
    $("#playlistlist>li#"+id+"").children(".playlistIcon").css "backgroundPosition", "-38px -200px"
    $('#maintablebody').empty()
    $('#emptyPlaylist').show()
    count = 1
    total = 1
    $.get "/api/playlistjoins.json", (data) ->
      $.map(data, (item) ->
        uniqueid = $.trim(item.id)
        playlistid = $.trim(item.playlistid)
        playlistuser = item.userid
        songuid = $.trim(item.songid)
        totalcount = total++
        $("#table").show()
        $("#loading").hide()
        if playlistid is id and playlistuser is String(userid)
          records = window.collection.get(songuid)
          uid = $.trim(records.get('id'))
          songname = $.trim(records.get('title'))
          songid = $.trim(records.get('titlehref'))
          artistname = $.trim(records.get('artist'))
          artistnamestring = $.trim(artistname.replace(/[&\/\\#,+()$~%.'":*?<>{}]/g,''))
          artistid = $.trim(records.get('artisthref'))
          albumname = $.trim(records.get('album'))
          albumnamestring = $.trim(albumname.replace(/[&\/\\#,+()$~%.'":*?<>{}]/g,''))
          albumid = $.trim(records.get('albumhref'))
          popularity = $.trim(records.get('popularity'))
          searchstring = encodeURI(songname)+"-"+encodeURI(artistname)
          num = count++
          if check is id
            $('#emptyPlaylist').hide()
            $("#loading").hide()
            $("#table table").show()
            albumfromspotify=albumid.indexOf("spotify")
            if albumfromspotify!=-1
              $("#maintablebody").append '<tr class="playlistbar '+uid+'"  unique="'+uniqueid+num+'" string="'+searchstring+'"  songname=" '+songname+'" songid=" '+songid+num+'" artistname=" '+artistname+'" artistid=" '+artistid+'" albumname=" '+albumname+'" albumid=" '+albumid+'" popularity=" '+popularity+'"><td class="number">'+num+'</td><td class="songtitle">'+songname+'</td><td class="artistname"><a href="/#/search/'+artistnamestring+'">'+artistname+'</a></td><td class="albumname"><a href="/#/album/'+albumid+'">'+albumname+'</a></td><td class="popularity">'+popularity+'</td></tr>'
            else
              $("#maintablebody").append '<tr class="playlistbar '+uid+'"  unique="'+uniqueid+num+'" string="'+searchstring+'"  songname=" '+songname+'" songid=" '+songid+num+'" artistname=" '+artistname+'" artistid=" '+artistid+'" albumname=" '+albumname+'" albumid=" '+albumid+'" popularity=" '+popularity+'"><td class="number">'+num+'</td><td class="songtitle">'+songname+'</td><td class="artistname"><a href="/#/search/'+artistnamestring+'">'+artistname+'</a></td><td class="albumname"><a href="/#/search/'+albumnamestring+'">'+albumname+'</a></td><td class="popularity">'+popularity+'</td></tr>'
        interactive() if totalcount is data.length
      if data.length == 0
        $("#table").show()
        $('#maintablebody').empty()
        $('#emptyPlaylist').show()
      )