<section id="footer">
	<div id="playbackControls">
		<div class="prevButton">Previous Song</div>
		<div class="playButton">Play Song</div>
		<div class="nextButton">Next Song</div>
	</div>

	<div id="volumeBar">
		<div class="barLeft"></div>
		<div id="volumeBarLeft"></div>
		<div class="barRight"></div>
		<div id="volumeBarMid"><div class="trackDot" id="volDot"></div></div>
  	</div>

  	<div id="volumeIcon"></div>

  	<div id="timePlayed">0:00</div>

  	<div id="trackBar">
		<div class="barLeft"></div>
		<div id="progressBarLeft"></div>
		<div class="barRight"></div>
		<div id="progressBarMid" style="width: 0%;"><div class="trackDot" id="trackDot"></div></div>
  	</div>

  	<div id="timeLeft">0:00</div>
  	<div id="ordercontrols">
	  	<div id="shuffleButton" style="display: none;"></div>
	  	<div id="repeatButton"></div>
  	</div>
</section>